* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 60px;
}

header{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}

h2{
    text-align:center;
    padding-left: 40%;
    padding-right: 40%;
}

.botond{
    height: 50px;
}

.botoni{
    height: 50px;
}

form{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}


footer a{
    margin-left: 10px;
    padding: 20px;
}
footer{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    
}

footer p{
    position: relative;
    left: 60%;
}

.contact{
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;
}

.stats{
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
}

.card5{
    margin-right:20%;
}

.borde{
    padding: 15px;
    box-shadow: inset 3px -3px 10px 0px gray;
}

.alinear{
    display: flex;
    flex-direction: row;
}

.checkbox{
    margin-left: 150px;
}